body{ 
    background-color:darkolivegreen;
    color: black;
    display: flex;
    flex-direction: column;

}
h1{ 
    font-family: 'Gill Sans', 'Gill Sas MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    text-align: center;
}
h2{  text-align:center;

}
p { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    }
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    }
.column {
    flex: 1;
    padding: 10px;
    }
    @media (max-width: 600px) {
.column {
    flex: 100%;
        }
}
.img-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.imagen1{
    margin: 20px;
    margin-top: 5px;
    align-self: center;
    width: 400px;
    height: 250px;
}

.imagen2{
    margin: 20px;
    margin-top: 5px;
    align-self: center;
    width: 400px;
    height: 250px;
}

.imagen3{
    margin: 20px;
    margin-top: 5px;
    align-self: center;
    width: 400px;
    height: 250px;

}

.video-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

iframe, video{
    max-width: 50%;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
     padding: 20px;
}

main{
    min-height: 75vh;

}    

footer{
    position: absolute;
    bottom: 0px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#fff;
    background-color:black;
    min-height: 130px;
    width: 98%;
    margin-top: auto;
    
}


.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
    }
    .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    }
    .brand {
    display: flex;
    align-items: center;
    }
    li>a {
    padding: 8px 24px;
    }
    li {
    list-style-type: none;
    }
    a {
    color: white;
    text-decoration:none;
    }
    .nav-links {
    display: flex;
    align-items: center;
    }
    .button-menu-toggle {
    display: none;
    }
    

@media (max-width: 768px) {
    .column {
    flex: 100%;
    }
    .nav-links {
    display: none;
    }
    .button-menu-toggle {    
    display: block;
    background-color: white;
    border:none;
    border-radius: 50px;
    padding: 0 24px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    }
    .nav-links.nav-links-responsive {
    position: absolute;
    display: flex;
    background-color: rgba(20,20,20,0.95);
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    gap:70px;
    font-size: 40px;
    }
    }

    


    